$equalizer-black: #000;
$white: #fff;
$lightblue: lightblue;
$text-color: #fefefe;
$light-grey: #959595;
$grey: #505050;
$dark-grey: #323232;
$success: #28a745;
$warning: #ffc107;

// Screen sizes
$small-screen: 720px;
$medium-screen: 1024px;

// Navbar
$navbar-height: 80px;
$navbar-responsive-height: 60px;
