@import '../../../styles/variables.scss';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightblue;
  width: 100%;
  max-width: 150px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 10%;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.complete {
  background-color: $success;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
